@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.primaryScroller::-webkit-scrollbar {
  width: 8px;
}

.primaryScroller::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px #000000;
  border-radius: 8px;
}

.primaryScroller::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 8px;
}

.primaryScroller::-webkit-scrollbar-thumb:hover {
  background: #525252;
  cursor: pointer;
}
