.range-container {
  position: relative;
  width: 100%;
  bottom: 14px;
}

.range-input {
  -webkit-appearance: none;
  width: 100%;
  background: #7a7a7a;
  outline: none;
  border-radius: 10px;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 20px;
  background: linear-gradient(90.34deg, #6d28d9 -13.74%, #6d28d9 106.66%);
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.range-title {
  position: absolute;
  bottom: 4px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border: 0.5px solid #ff416c;
  padding: 4px 10px;
  border-radius: 20px;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
